<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetfinance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="FinanceHUB"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.view.FourthActivity" />
        <activity android:name=".presentation.view.ThirdActivity" />
        <activity
            android:name=".presentation.view.SecondActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".presentation.view.HistoryActivity" />
        <activity android:name=".presentation.view.FirstActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>